## Pandas

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels =['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d={'a':10,'b':20,'c':30}

# Series

In [7]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
ser1 = pd.Series([1,2,3],["BMW", 'musta','Benz'])

In [10]:
ser1

BMW      1
musta    2
Benz     3
dtype: int64

In [12]:
ser1['BMW']

1

In [13]:
 ser1[1]

2

# DataFrames

In [17]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [18]:
np.random.seed(101)

In [19]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'] )

In [20]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [21]:
randn(5,4)

array([[ 0.30266545,  1.69372293, -1.70608593, -1.15911942],
       [-0.13484072,  0.39052784,  0.16690464,  0.18450186],
       [ 0.80770591,  0.07295968,  0.63878701,  0.3296463 ],
       [-0.49710402, -0.7540697 , -0.9434064 ,  0.48475165],
       [-0.11677332,  1.9017548 ,  0.23812696,  1.99665229]])

In [23]:
df[['w','x']]

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [24]:
df['new'] = df['w']+df['x']

In [25]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.334983
b  0.651118 -0.319318 -0.848077  0.605965  0.331800
c -2.018168  0.740122  0.528813 -0.589001 -1.278046
d  0.188695 -0.758872 -0.933237  0.955057 -0.570177
e  0.190794  1.978757  2.605967  0.683509  2.169552

In [27]:
df.drop('new', axis=1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [28]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.334983
b  0.651118 -0.319318 -0.848077  0.605965  0.331800
c -2.018168  0.740122  0.528813 -0.589001 -1.278046
d  0.188695 -0.758872 -0.933237  0.955057 -0.570177
e  0.190794  1.978757  2.605967  0.683509  2.169552

In [29]:
 df.loc['a']

w      2.706850
x      0.628133
y      0.907969
z      0.503826
new    3.334983
Name: a, dtype: float64

In [32]:
df.iloc[0]

w      2.706850
x      0.628133
y      0.907969
z      0.503826
new    3.334983
Name: a, dtype: float64

In [34]:
df.loc['a','y']

0.9079694464765431

In [35]:
df.loc[['a','d'],['x','y']]

          x         y
a  0.628133  0.907969
d -0.758872 -0.933237

In [37]:
df.drop('new',axis=1,inplace=True)

In [38]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [39]:
df[df['w']<0]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

In [41]:
df[df['w']>0]['x']

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [44]:
 df[(df['w']>0) | (df['y']>1)]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [46]:
df.reset_index()

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

## DATAFRAME 3