In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [8]:
outside = ['G1','G1','G1','G2', 'G2','G2']
inside =[1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])

In [10]:
df

             A         B
G1 1 -0.374397 -1.061529
   2  0.246382  1.159360
   3  0.396195  0.363700
G2 1 -0.650634  1.796754
   2  1.434785 -0.781772
   3  1.443992 -3.023419

In [15]:
df.index.names = ['Groups', 'Num']

In [16]:
df

                   A         B
Groups Num
G1     1   -0.374397 -1.061529
       2    0.246382  1.159360
       3    0.396195  0.363700
G2     1   -0.650634  1.796754
       2    1.434785 -0.781772
       3    1.443992 -3.023419

In [19]:
df.loc['G2'].loc[2]['A']

1.4347846496177374

In [20]:
df.xs(2,level='Num')

               A         B
Groups
G1      0.246382  1.159360
G2      1.434785 -0.781772